.icon {
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
  color: currentColor;
}

.sm {
  width: 1rem;
  height: 1rem;
}

.md {
  width: 1.25rem;
  height: 1.25rem;
}

.lg {
  width: 1.5rem;
  height: 1.5rem;
}
