.grid {
  background-color: red;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas: 
    "timer timer" 
    "blinds ante";

  width: 100vw;
  height: 100vh;
}

.timer {
  background-color: blue;

  grid-area: timer;
}

.blinds {
  background-color: green;

  grid-area: blinds;
}

.ante {
  background-color: yellow;

  grid-area: ante;
}
